@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
  font-family: 'Montserrat',sans-serif;
}
/*UI CARD CODE HERE*/
marg{
  padding:20px;
}
@media only screen and (max-width:755px){
  .marg{
    padding-left: 90px;
    padding-right:90px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.contain{
  position: relative;
  align-self: center;
}
.contain .card{
  position: relative;
  width:280px;
  height:370px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
@media only screen and (max-width:500px){
  .card .imgbx img{
    padding-left: 50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    size : 25%;
  }
}
.contain .card:before{
  content: '';
  position: absolute;

  width:100%;
  height: 100%;
  background: #009688;
  clip-path:circle(140px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.contain .card:hover:before{
  clip-path: circle(260px at 80% -20%)
}
.contain .card1:after{
  content:"Join";
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 700;
  font-style: italic;
  color: rgba(71,74,76, 0.15);
}
.contain .card2:after{
  content:"Login";
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 700;
  font-style: italic;
  color: rgba(71,74,76, 0.15);
}
.contain .card3:after{
  content:"Hot";
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 700;
  font-style: italic;
  color: rgba(71,74,76, 0.15);
}
.contain .card .imgbx{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: 10000;
  width:100%;
  height:200px;
  transition:0.5s;
}
.contain .card:hover .imgbx{
  top:0%;
  transform: translateY(0%);
}
.contain .card .imgbx img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) ;
  width:240px;
}
.contain .card .contentbox{
  position : absolute;
  bottom:0;
  width:100%;
  height: 100px;
  text-align:center;
  color:#EEFFFF;
  transition: 1s;
  z-index: 10;
}
.contain .card:hover .contentbox h2{
  position:relative;
  font-weight: 600;
  letter-spacing: 1px;
}
/*Banner code here*/
@media only screen and (min-width:991px)
 {
    section{
      position : relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items:center;
    }
    section:before{
      content:'';
      position: absolute;
      bottom: 0;
      width:100%;
      height: 100px;
      background: linear-gradient(to top,#263238, transparent);
      z-index: 10000;
    }
    section:after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      background: #263238;
      z-index: 10000;
      mix-blend-mode: color;
    }
    section img{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      object-fit: cover;
      pointer-events: none;
    }
    #bnnrtxt{
      color:black;
      position: relative;
      font-family: "Poppins",sans-serif;
      font-weight: 700;
      font-size: 10em;
      z-index:1;
      padding-bottom: 40px;
    }
    #road{
      z-index: 2;
    }
    #mountain{
      padding-top:15px;
    }

    #img3{
      width:180px;
      height:auto;
      padding-bottom: 15px;
    }
    #img1{
      height:215px;
      width:auto;
      padding-bottom:20px;
    }

 }
@media only screen and (max-width:991px)
{
  section{
    position : relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  section:before{
    content:'';
    position: absolute;
    bottom: 0;
    width:100%;
    height: auto;
    background: linear-gradient(to top,#263238, transparent);
    z-index: 10000;
  }
  section:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 200px;
    background: #263238;
    z-index: 10000;
    mix-blend-mode: color;
  }
  section img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    object-fit: cover;
    pointer-events: none;
  }
  @media only screen and (min-width:991px) {
    #bnnrtxt{
      color:white;
      position: relative;
      color:black;
      font-family: "Poppins",sans-serif;
      font-weight: 700;
      font-size: 10em;
      z-index:1;
      padding-bottom: 40px;
    }
  }
  @media only screen and (max-width:991px) {
    #bnnrtxt{
      color:white;
      position: relative;
      color:black;
      font-family: "Poppins",sans-serif;
      font-weight: 700;
      font-size: 5em;
      z-index:1;
      padding-bottom: 40px;
    }
  }

  #road{
    z-index: 2;
  }

  #img3{
    width:180px;
    height:auto;
    padding-bottom: 15px;
  }
  #img1{
    height:215px;
    width:auto;
    padding-bottom:20px;
  }

.center{
  align-items: center;
}
