{% extends 'layout.html' %}
{% load static %}

{% block tncactive %}
(current)
{% endblock %}

{%block title%}
Blogs
{%endblock%}
{% block body %}
<br><br>
<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-md">
        <h2 class="text"> <strong>Our Articles</strong></h2><brr><br>
      </div>
    </div>
    <div class="row">
    {% for row in articles%}
    <div class="col-md">
      <a href="{% url 'dispblog' row.title %}">
        <div class="box">
          <h3 class='text'><strong>{{row.title}}</strong></h3>
          <h5 class ='text'> By {{row.author}}</h5>
          <h6>{{row.date}}</h6>
        </div>
      </a>
    </div>
    {%if forloop.counter ==3 %}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==6 %}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==9 %}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==12 %}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==15%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==18%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==21%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==24%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==27%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==30%}
    </div>
    <div class="row">
    {%endif%}
    {%if forloop.counter ==33%}
    </div>
    <div class="row">
    {%endif%}
    {% endfor%}
  </div>

  </div>
</div>
{% endblock %}
