{% extends 'layout.html' %}
{% load static %}

{% block tncactive %}
(current)
{% endblock %}

{%block title%}
{{article.title}}
{%endblock%}
{% block body %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="box">
        <h2 class="text"> <strong>{{article.title}}</strong></h2>
        <!--Actual Events Happening to be replaced by DB files-->
        <section class="article text">

          <p> <strong>By {{article.author}}</strong> </p>
          <p> {{article.date}}</p>
          {{article.content|safe}}
          <br><br>

        </section>

      </div>

    </div>

  </div>

</div>
{% endblock %}
