{% extends 'layout.html' %}
{% load static %}

{% block tncactive %}
(current)
{% endblock %}

{%block title%}
What's Hot?
{%endblock%}
{% block body %}
<img src="{%static "homepages/Featured.jpg" %}" id = "bnnrimg">
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="box">
        <h2 class="text"> Featured Events</h2>
        <!--Actual Events Happening to be replaced by DB files-->
        <section class ="text">
          <h4><strong>Want your news analysis to be posted here?</strong></h4>
          <p>Reach out to us at help.munster@gmail.com</p><br><br>


        <p style="font-size:10"> Want to get your MUN on the featured page? Contact us at help.munster@gmail.com</p>
        </section>

      </div>

    </div>

  </div>

</div>
{% endblock %}
