{% extends 'layout.html' %}
{% load static %}

{% block tncactive %}
(current)
{% endblock %}

{%block title%}
What's Hot?
{%endblock%}
{% block body %}
<img src="{%static "homepages/Featured.jpg" %}" id = "bnnrimg">
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="box">
        <h2 class="text"> Featured Events</h2>
        <!--Actual Events Happening to be replaced by DB files-->
        <section class ="text">
          <h4><strong>Alexis Forum (16th Dec)</strong></h4>
          <p>Attend the relaunch of Alexis Model UN (Previously known as JWMUN) with three committees and spectacular Executive Board and influencers such as Senior Adv Rohan V. N. Early bird registration fee of only INR 100/- and Cash Prizes upto INR 1000/-. <a href ="https://www.alexisforum.com/book-online" target="blank"> Read More...</a></p><br><br>

          <h4><strong>DAIMUN (10-12th Dec)</strong></h4>
          <p>The current pandemic has made our face-to-face interaction a challenge. So, this makes it imperative for us to create a platform for young students to come together. Our online forum for DAIMUN 2020 will offer the same experience of sharing views and opinions on important issues in our global world. Yes, we will not be meeting in person, but we will offer students the opportunity to lobby, engage in debate and vote on resolutions. All in all, we will make you a part of an experience where delegates will virtually show involvement with high quality expertise in our quest to simulate a true DAIMUN experience.<a target="blank" href ="https://daimun.org/"> Read More...</a></p><br><br>

          <h4><strong>MDI Gurgaon MUN (11-13th Dec)</strong></h4>
          <p>We are excited to bring you the 24th edition of our convention from December 11th-13th. This year we are taking a significant step and are conducting our maiden MUN event at MDI Gurgaon. MUN will be held from Dec 12th- 13th and will be conducted virtually. Total Cash Prize: INR 60,000/- consisting of Best Delegate: 7,500/-, High commendation: 5000/-, Special Mention: 2,500<a target="blank"href ="https://dare2compete.com/o/model-united-nations-delphique-2020-the-national-management-convention-of-mdi-management-development-institute-mdi-gur-135783"> Read More...</a></p><br><br>

          <h4><strong>Orion Youth Conclave (26-27th Dec)</strong></h4>
          <p>We hereby present you Orion Youth Conclave. The Conference aims at stimulating an exceptionally instructive conference for over 2 days. Dates of the conference: 26- 27  December 2020. We are featuring 9 committees which will discuss a wide range of fascinating topics. <a target="blank" href ="https://www.facebook.com/orionyouthconclave/"> Read More...</a></p><br><br>

        <p style="font-size:10"> Want to get your MUN on the featured page? Contact us at help.munster@gmail.com</p>
        </section>

      </div>

    </div>

  </div>

</div>
{% endblock %}
