{% extends 'layout.html' %}
{% load static %}


{%block title%}
Edit Participant
{%endblock%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <br><br>
      <div class="box">
        <h2 class="subh">Edit Delegate!</h2>
        <br><br>

        <section class="text" style="font-size:20px">
            {{comm}} {{country}}
      <form class="form-action" action="{%  url 'editdelegate' del.committee.name del.country %}" method="post">
        {% csrf_token %}
          First Name: <input type="text" name="fname" value="{{del.firstname}}"><br><br>
          Second Name: <input type="text" name="sname"  value="{{del.secondname}}"><br><br>
          Contact Number: <input type="text" name="number" value="{{del.contactnum}}"><br><br>
          Committee: <select id="comm" name="committee" value = '{{del.committee.name}}'>
            {%for row in committees %}
            {% if row.name == comm %} <option value='{{row.name}}' selected >{{row.name}}</option>  {%endif%}
            {% if row.name != not comm %} <option value='{{row.name}}'  >{{row.name}}</option>  {%endif%}

            {% endfor%}
          </select> <br> <br>
          Allocation: <select id="alloc" name="alloc" >
            {%for row in countries %}
            {% if row == country%}  <option value='{{row}}' selected>{{row}}</option> {%endif%}
            {% if row != country%}  <option value='{{row}}'>{{row}}</option> {%endif%}
            {% endfor%}
          </select> <br> <br>
          <button type="Submit" id='bt'name="button" class="btn button-dark text">Edit</button>
      </form>

        </section>
      </div>
    </div>
  </div>
</div>
{%endblock%}
