{% extends 'layout.html' %}
{% load static%}


{%block title%}
View Participants
{%endblock%}
{% block body %}
<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md">
      <div class="box">
        <h2 class="subh">View Participants</h2><br>
        <!--Put viewing of announcements datewise here-->
        <section class ='text'>
          {% if dels is not None %}
            {% for row in comms %}
            <h3 style='color:#A8B7B9'><weight>{{row.name}}</weight></h3>
            {% for rs in dels[loop.index]%}
            <p> {{rs.firstname}} {{rs.secondname}} - {{rs.country}}</p>
            {% endfor %}
            {%endfor%}
          {% else %}
          <p>No participants allocated yet :(</p>
          {% endif %}
        </section>
        <a href = "{%url 'addcommittee'%}"><button type="button" class="btn button-dark text">Make Committee</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
