{% extends 'layout.html' %}
{% load static%}


{%block title%}
View Participants
{%endblock%}
{% block body %}
<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md">
      <div class="box">
        <h2 class="subh">View Participants</h2><br>
        <!--Put viewing of announcements datewise here-->
        <section class ='text'>
          {% if dels is not None %}
            {% for row in dels %}
            <p><weight>{{row.committee.name}}</weight>: {{row.firstname}} {{row.secondname}} - {{row.country}} <a href ="{%  url 'editdelegate' del.committee.name, del.country %}"><img height="25" width="25" src="{% static "edit.png" %}"></img></a></p>
            {%endfor%}
          {% else %}
          <p>No participants allocated yet :(</p>
          {% endif %}
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
