{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{commname}}: Admin</title>
    <link type="text/css" href="{% static "emun.css" %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="padding: 20px; color: white;">
      <a class="navbar-brand" href="#">EMUN: {{munname}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" onclick="activatedisc()">Active Discussions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="attendance();">Attendance</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link"  onclick="discussions();">Discussions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="#">Motions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="#">Voting</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="#">Resolutions/Clauses</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="#">Ammendments</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'commlogout'%}">Logout</a>
          </li>
        </ul>

      </div>
    </nav>
<div class="container">
    <br> <br>
  <div class="row"><!--Active Discussions-->
      <div class="col-md" id="activ" >
        <h2 id = 'adname'></h2> <br>
        <h6 id = 'followup'></h6>
        <br>
       <h5> Upcoming Speakers</h5>
       <div id="upcoming">
         <select id="countryadder" style="width: 80%; margin: 10px; margin-top: 0px; display: inline;"></select> <button style="height: auto; width: 10%; font-size: 12px; display: inline;" onclick="addcountry('none');" type="button" class="btn btn-primary">Add</button>
         <ul id="sortable" style="    list-style-type: none; margin-left: -5%; width: 87%">
         </ul>
       </div> <br>
       <h5> Past Speakers</h5>
       <div id="spoken">
         <ul id="sortable2" style="    list-style-type: none; margin-left: -5%; width: 87%">
         </ul>
       </div>
       <p id ='numleft'> </p>

      </div>
      <div class="col-md" id="activtimer" >
        <div style=" height: 260px; width: 100%; display: block; margin: 10px;">
          <h3>Timer</h3>
          <div id="timerbody" style="display: block;  border-radius: 3px;border: solid #C9CACB 1px;background-color: #F8F8F9; padding: 10px; height: 260px; width: 100%; margin: 10px">
              <div id ="timertime" style="display: block; margin: auto;  border-radius: 3px;border: solid #C9CACB 1px;width: 100px; height: 60px; margin-top: 5px; margin-bottom: 20px; font-size: 24px; font-weight: bold; text-align: center; padding-top: 15px;">

              </div>
              <div id="timerbarcontainer" style="background-color: #E5E5E5; margin: auto; display: block; width: 80%; border-radius: 10px; height: 40px; margin-bottom: 20px;">
                <div id="timerbar" style="width: 100%; height: 100%; border-radius: 10px; background-color:#06EB7D;">

                </div>
                <div style="margin: auto; display: block; padding: 20px;padding-left: 20%; ">
                  <button onclick="seconds= tps; timerstate = false; $('#timertime').html(seconds +' s');$('#timerbar').css('width', '100%');" class="btn btn-outline-success">Reset</button>
                  <button onclick="timerstart()" class="btn btn-outline-primary">Play/Pause</button>
                  <button onclick="seconds= 1; timerstate = false; $('#timertime').html(seconds +' s');$('#timerbar').css('width', '0%');" class="btn btn-outline-danger">Elapse</button>
                  <br><br>
                  <button onclick="nextspeaker();" style ='margin-left:30%; display:block;'class="btn btn-primary">Next</button>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-center" ><!--discs-->
      <div class="col-md sectionz" style="display:none" id = 'discs'>
        <div id='newdisc' style="display: none;">
          <h3>New Discussion</h3>
          Agenda: <input type="text" id="discname"> <br>
          Per Speaker Time(seconds): <input type="number" id="spektime" value=""> <br>
          Number of speakers: <input type="number" id="speknum" value=""> <br>
          <label for="chkbx">Active</label> <input type="checkbox" id="chkbx"> <br>
          <p>Note: Marking a discussion as active will automatically mark any active discussion to inactive. You can reactivate and edit any discussion from below</p>
          <button class="btn btn-primary" onclick="newdisc();">Submit</button>
        </div>
        <br> <br>
        <div id ='existingdisc'>
          <h3>Past Discussions</h3> <br>
          <table class="table table-responsive table-striped" id ='tdisc'>
          <thead>
            <tr>
              <th scope="col" style="width: 50%">Topic</th>
              <th scope="col">Time per Speaker</th>
              <th scope="col">Number of Speakers</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          </table>
        </div>
        <div id="olddisc">
          <table>

          </table>
        </div>
      </div>
    </div>
  <div class="row justify-content-center" ><!--Attendance-->
      <div class="col-auto sectionz" style="display:none;" id = 'attendancediv'>
        <table class="table table-responsive table-striped" id ='tttt'>
        <thead>
          <tr>
            <th scope="col"  style="width: 200px;">Country</th>
            <th scope="col" style="width: 200px;">Present</th>
            <th scope="col" style="width: 200px;" >Present and Voting</th>
          </tr>

        </thead>
        <tbody id ='tabat'>

        </tbody>
        </table>
      </div>
    </div>
  <div class="row" class = "sectionz" id = 'motions'>
  </div>
  <div class="row" class = "sectionz" id = 'voting'>

  </div>
  <div class="row" class = "sectionz" id = 'paperwork'>

  </div>
  <div class="row" class = "sectionz" id = 'ammendment'>

  </div>
</div>
  </body>
  <script type="text/javascript">
    var countries = {{countries|safe}};
    var agenda = '';
    var tps;
    var ns;
    var talkersdata;
    var seconds = -129;
    var timerstate = false;
    function discussions(){
      $('#discs').css("display", "block");
      $('#newdisc').css("display", "block");
      $('#tttt').css("display", "none");
      $('#attendancediv').css("display", "none");
      $('#activ').css("display", "none");
      $('#activtimer').css("display", "none");
      updatediscs();
    }
    function activatedisc(){
      $('#discs').css("display", "none");
      $('#newdisc').css("display", "none");
      $('#tttt').css("display", "none");
      $('#attendancediv').css("display", "none");
      $('#activ').css("display", "block");
      $('#activtimer').css("display", "block");
      fillactivediscinfo();
    }
    function attendance(){
      $('#attendancediv').css("display", "block");
      $('#tttt tbody').empty();
      $('#tttt').css("display", "block");
      $('#discs').css("display", "none");
      $('#newdisc').css("display", "none");
      $('#activ').css("display", "none");
      $('#activtimer').css("display", "none");
      fetch("http://www.munster.co.in/emun/"+"{{munname}}/{{commname}}/attendance", {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
        })
        .then(response => {
            return response.json() //Convert response to JSON
        })
        .then(data => {
          var x = data['attendance']
          for (let i = 0; i<x.length; i++)
          {
            var id =x[i]["id"];
            var alloc =x[i]['country'];
            var status = x[i]['status'];
            var markup ="";
            var press= 'present('+"'"+alloc.toString()+"'"+');'
            var voti= 'voting('+"'"+alloc.toString()+"'"+');'
            if (status ==""){
              markup = "<tr id='row"+alloc.toString() +"'> <td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td></tr>";
            }
            if (status =="P"){
              markup = "<tr id='row"+alloc.toString() +"'>  <td>"+alloc+"</td><td> <button onclick = "+press+"  type= 'button' class = 'btn pres'></button> </td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td></tr>";
            }
            if (status =="PV"){
              markup = "<tr id='row"+alloc.toString() +"'>  <td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button'  class = 'btn undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'pres'></button></td></tr>";
            }
            $("#tabat").append(markup);
          }
        })

    }
    function present(country){
      var alloc = country;
      var press= 'present('+"'"+alloc.toString()+"'"+');'
      var voti= 'voting('+"'"+alloc.toString()+"'"+');'
      var stat =''
      var url = ("http://www.munster.co.in/emun/"+"{{munname}}/{{commname}}/updateattendance/").concat(alloc.toString()).concat("/P");
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
        })
        .then(response => {
          return response.json() //Convert response to JSON
        })
        .then(data => {
          var name = '#row'+alloc.toString();
          console.log(name)
          $(name.toString()).empty();
          console.log(data['attendance'])
          if (data['attendance'] == 'notP'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")
          }
          if (data['attendance'] == 'P'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'pres'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")

          }
          if (data['attendance'] == 'PV'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'pres'></button></td>")

          }
          if (data['attendance'] == 'notPV'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")

          }

        });

      }
    function voting(country){
      var alloc = country;
      var press= 'present('+"'"+alloc.toString()+"'"+');'
      var voti= 'voting('+"'"+alloc.toString()+"'"+');'
      var stat =''
      var url = ("http://www.munster.co.in/emun/"+"{{munname}}/{{commname}}/updateattendance/").concat(alloc.toString()).concat("/PV");
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
        })
        .then(response => {
          return response.json() //Convert response to JSON
        })
        .then(data => {
          var name = '#row'+alloc.toString();
          console.log(name)
          $(name.toString()).empty();
          console.log(data['attendance'])
          if (data['attendance'] == 'notP'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")
          }
          if (data['attendance'] == 'P'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'pres'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")

          }
          if (data['attendance'] == 'PV'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'pres'></button></td>")

          }
          if (data['attendance'] == 'notPV'){
            $(name.toString()).append("<td>"+alloc+"</td><td> <button onclick = "+press+" type= 'button' class = 'undet'></button></td><td><button type= 'button' onclick = "+voti+"  class = 'undet'></button></td>")

          }

        });

      }
    function newdisc(){

      var discname = document.getElementById('discname').value;
      var pst = document.getElementById('spektime').value;
      var nums = document.getElementById('speknum').value;
      var status ='N';
      if (document.getElementById('chkbx').checked){
        status ='Y';
      }
      url ='http://www.munster.co.in/emun/newdiscussion/{{munname}}/{{commname}}/'.concat(discname.toString()).concat("/").concat(pst.toString()).concat("/").concat(nums.toString()).concat("/").concat(status);
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
        })
        .then(response => {
            return response.json() //Convert response to JSON
        })
        .then(data => { updatediscs();})
    }
    function updatediscs(){
      $('#tdisc tbody').empty();
      var table = $("#tdisc");
      url = 'http://www.munster.co.in/emun/getdiscussions/{{munname}}/{{commname}}'
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            var talkers =data['talkers'];
            var talklists = data['talklists']
            for(let i =0; i<talklists.length; i++){
              var topic= talklists[i]['name']
              var tps = talklists[i]['secsps']
              var ns = talklists[i]['numberofspeakers']
              markup = '<tr>  <td>'+topic.toString()+'</td>  <td>'+tps.toString()+'</td  ><td>'+ ns.toString() +'</td>  </tr>';
              $('#tdisc').append(markup);
            }
          })
    }
    function fillactivediscinfo(){
      url = 'http://www.munster.co.in/emun/getactivediscussion/{{munname}}/{{commname}}'
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            var values = data['resps'];
            $('#adname').empty();
            $('#countryadder').empty();
            $('#sortable').empty();
            $('#followup').empty();
            $('#adname').append(values['name']);
            agenda = values['name'];
            tps = values['secsps'];
            ns = values['numberofspeakers'];
            $('#followup').append(ns.toString() +' speakers and '+tps.toString()+' seconds per speaker');

            for (let i = 0;i< countries.length; i++){
              $('#countryadder').append('  <option value="'+countries[i]+'">'+countries[i]+'</option>');
            }
            var countriez = data['countries'];
            talkersdata = data['talkers']
            for (let i = 0; i<countriez.length; i++){
              if (talkersdata[i]['status'] == 'qd')
              {              $('#sortable').append('<li class="ui-state-default" id = "speaking'+countriez[i]+'"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>'+countries[i]+'<a style="font-size:8px; color:red;"href="#" onclick = "addcountry(`'+countriez[i]+'`);">'+ 'Remove' +'</a></li>');}            }
              else if(talkersdata[i]['status'] == 'sn')
              {              $('#sortable2').append('<li class="ui-state-default" id = "speaking'+countriez[i]+'"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>'+countries[i]+'<a style="font-size:8px; color:red;"href="#" onclick = "addcountry(`'+countriez[i]+'`);">'+ 'Remove' +'</a></li>');}            }


          })
        }
    function addcountry(country){
      var val =''
      if (country == 'none'){ val = document.getElementById('countryadder').value;}
      else{
        val = country;
      }
      url = '/emun/speaker/{{munname}}/{{commname}}/'+agenda+'/'+tps+'/'+ns+'/'+val;
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            if (data['resps'] == 'removed')
            { $('#speaking'+val).remove();}
            else
            {      $('#sortable').append('<li class="ui-state-default" id = "speaking'+val+'"><span class="ui-icon ui-icon-arrowthick-2-n-s" ></span>'+val+' <a style="font-size:8px; color:red;" href="#" onclick = "addcountry(`'+val+'`);">'+ 'Remove' +'</a></li>');}
            talkersdata = data[talkers]

          })
    }
    $( "#sortable" ).sortable({
      update: function( event, ui ) {}
    });
    $( "#sortable" ).on( "sortupdate", function( event, ui ) {} );
    $( "#sortable2" ).sortable({
      update: function( event, ui ) {}
    });
    $( "#sortable2" ).on( "sortupdate", function( event, ui ) {} );
    function timerstart(){
      timerstate = !timerstate;
      console.log(timerstate);
      timerplay();
    }
    function timerplay(){
      if (seconds==-129){
          seconds = tps;
          $('#timertime').html(seconds +' s');

      }

      var countdown = setInterval(function() {
        if (timerstate == false) {clearInterval(countdown);}
        seconds--;
        var x = (100-((tps - seconds)*(tps/100))).toString().concat('%');
        $('#timertime').html(seconds + " s");
        $('#timerbar').css('width', x);
        }, 1000);
    }
    function nextspeaker(){
      timerstate = false;
      element = $('#sortable li:first').attr('id')
      var contry = '';
      for(let i =8; i<element.length;i++){
        contry+=element[i];
      }
      url = 'emun/speaker/{{munname}}/{{commname}}/'.concat(agenda.toString()).concat('/').concat(contry.toString());
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
          })
          fillactivediscinfo();
    }



  </script>
  <style>
    .sectionz{
      display: none;
      margin : auto;
      border: solid #2F76D4 medium;
      padding: 40px;
    }
    #disc{
      display: none;
      margin : auto;
      border: solid #2F76D4 medium;
      padding: 40px;
    }
    #activ{
      border: solid #2F76D4 medium;
      padding: 40px;
      display: none;
    }
    #activtimer{
      border: solid #2F76D4 medium;
      padding: 40px;
      display: none;
    }
    .nav-link{
      color:white;
      font-weight: bold;
    }
    .pres{
      width: 100%;
      background-color: #2F76D4;
      height: 30px;
    }
    .undet{
      width: 100%;
      background-color: #DEE1E6;
      height: 30px;
    }
    #tttt{
      width:600px;
    }
    #upcoming{
      padding: 20px;
      margin: auto;
      border-radius: 3px;
      border: solid #C9CACB 1px;
      background-color: #F8F8F9;
    }
    #spoken{
      padding: 20px;
      margin: auto;
      border-radius: 3px;
      border: solid #C9CACB 1px;
      background-color: #F8F8F9;
    }
    .ui-state-default{
      height: 40px;
      font-size: 18px;
      padding-top: 2px;
    }
  </style>
</html>
