{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="{% static "corestyles.css" %}" rel="stylesheet">
      <link href="{% static "extras.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
      <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
      <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
      <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" type="text/css" />
      <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
      <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
      <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
      <script src="jquery-3.5.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="icon" type "image/x-icon" href ="{%static "logo.png" %}"/>
      <title>MUNster| {{mun.name}} E-MUN</title>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JBXPC8JSC"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-1JBXPC8JSC');
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text">MUNster x {{mun.name}}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Access Your Committee</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md ">
        <form action="{% url 'logincomm' mun.username %}" method="post">
          {% csrf_token %}
          Committee: <select class="" name="comm" >
            {%for row in comms%}
            <option value="{{row.name}}">{{row.name}}</option>
            {%endfor%}
          </select>
          <br>
          Special Access Key (SAK): <input type="password"name="sak">
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
