{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{commname}}: Delegate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{%  static "emun.css"%}">
    <script src="https://cdn.tiny.cloud/1/123046wnx9rmn1uyq9ljnjy75xb7qq2nay9c8xc9lisaoxrq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: "#cookiedpaperwork",menubar: false,plugins: "link image code lists export",  setup:function(ed) {ed.on('change', function(e) {updateinfo();});},content_style:"body { font-size: 14pt; font-family: serif; }",toolbar: 'undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image | numlist | bullist | export'});    </script>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="padding: 20px; color: white!important;font-weight:bold;">
        <a class="navbar-brand" href="#" style="color:white!important;">EMUN: {{country}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" onclick="voting();" style="color:white!important;">Voting</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" onclick="paperwork();"style="color:white!important;">Submit Paperwork</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" onclick="ammendments();"style="color:white!important;">Ammendments</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'commlogout'%}"style="color:white!important;">Logout</a>
            </li>
          </ul>

        </div>
    </nav>

<div class="container">
  <br><br>
  <div class="row justify-content-center" ><!--voting-->
    <div class="col-md" id ='voting'>
      <table>
        <h2>Vote for Motions</h2>
        <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th scope="col"  style="width: 200px;">Name</th>
            <th scope="col"  style="width: 100px;">Proposer</th>
          </tr>
          <tbody id ='motiondata'>

          </tbody>
        </thead>
        </table>
      </table>
    </div>
  </div>
  <div class="row justify-content-center" ><!--paperwork-->
    <div class="col-md" id ='paperwork' style="background-color: white!important;    border: solid #F39848 10px!important;    min-height: 600px!important;">
      <h2>Paperwork</h2>
      <br>
      <form  action="{%url 'submitpwork' munname commname %}" method="post">
        {%csrf_token%}
        <label for="resoname">Name of the Paperwork:  </label><input onchange='updateinfo()'id ='resoname'  name='title'type ='text'></input> <br> <br>
        <textarea id="cookiedpaperwork" name ='body'rows="8" cols="80"></textarea><br><br>
        <button class="btn btn-primary" type="submit">Submit Paperwork</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center" ><!--ammendments-->
    <div class="col-12" id ='ammendment' style="background-color: white!important;    border: solid #F39848 10px!important;    min-height: 600px!important;">
      <h2>Select a Resolution to View</h2>
      <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th scope="col"  style="width: 400px;">Name</th>
          <th scope="col"  style="width: 100px;">Status</th>
        </tr>
        <tbody id ='pworkrows'>

        </tbody>
      </thead>
      </table>
    </table>
    </div>
  </div>
  <div class="row justify-content-center" id ='opendoc'>
    <div class="col-12" id='docbody'style="font-family:serif;display:none; font-size:22px;background-color: white!important;    border: solid #F39848 10px!important;    min-height: 600px!important;padding:40px;" >

    </div>
    <br> <br>
    <div class="col-12" id ='ammform' style="  background-color: white!important;
      border: solid #F39848 10px!important;
      padding: 40px!important;
      display: none;">
      <h3 style="display:block;margin:auto;">Ammendment</h3>
      Type: <select id="amtype">
      <option value="Deletion">Deletion</option>
      <option value="Modification">Modification</option>
      <option value="Addition">Addition</option>

    </select> <br> <br>
    <input id="poid" style="visibility:hidden;position:absolute;" value="">
      Clause number: <input type="text" id="cloz" value=""> <br> <br>
      <div>
        <label style="vertical-align: top;" for="content">Ammmendment Content:</label> <textarea id="content" rows="8" cols="40"></textarea> <br> <br>
        <button onclick="submitam()" class="btn btn-primary">submit</button>
      </div>

    </div>
  </div>
</div>
  <div class="modal" tabindex="-1" id='sendvotemodal'role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Motion Vote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 id ='motname'></h4>
            <div id="votecont">

            </div>
          </div>
          <div class="modal-footer">
            <button onclick="sendvote();" data-dismiss="modal" id ='submitvote' class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {%if munname == 'DAIMUN'%}
    <footer class="footer">
    <p style="vertical-align: middle;font-size: 18px; font-weight: bold;">  <img src="{% static "dailogo.png"%}" id="dailogo"> <img src="{%static "logo.png"%}" align="right" style="vertical-align:middle; margin: 30px;">
     <br> E-MUN interface for DAIMUN'21 by <a href="http://www.munster.co.in" target="_blank" >MUNster</a> <br> <a href ='https://daimun.org/contactus.html' target='_blank' >Contact DAIMUN</a> <br> <a href="http://www.munster.co.in/munster">Register at MUNster</a> <br> Check out our <a href="https://www.instagram.com/munster.co.in/" target = "_blank">socials</a> </p>
    </footer>
    {% endif %}
  </body>
  <script type="text/javascript">
      var ammstate = false
    voting();
    function voting(){
      $('#voting').css('display','block');
      $('#paperwork').css('display','none');
      $('#ammendment').css('display','none');
      $('#docbody').css('display', 'none')
      $('#ammform').css('display', 'none')
      ammstate = false;
      getmotions();

    }
    function paperwork(){
      $('#paperwork').css('display','block');
      $('#voting').css('display','none');
      $('#ammendment').css('display','none');
      $('#docbody').css('display', 'none')
      $('#ammform').css('display', 'none')

      ammstate = false;
      var content = readCookie('pwork').slice(0, -29);
      tinymce.get('cookiedpaperwork').setContent(content);
      var title = readCookie('pworktitle').slice(0,-29);
      document.getElementById('resoname').value = title;

    }
    function ammendments(){
      $('#paperwork').css('display','none');
      $('#docbody').css('display', 'none')
      $('#ammform').css('display', 'none')
      $('#voting').css('display','none');
      $('#ammendment').css('display','block');
      ammstate = true
      url ='/emun/summonpaperwork/{{munname}}/{{commname}}'
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
            }).then(response => {
            return response.json() //Convert response to JSON
            }).then(data => {
            resps = data['resps']
            console.log(data)
            $('#pworkrows').empty()
            for(let i =0;i<resps.length;i++){
            var status ='';
            if (resps[i]['status']=='OTA'){
              status = 'Open for Ammendments'
            }
            if (resps[i]['status']=='VTC'){
              status = 'Visible'
            }
            $('#pworkrows').append('<tr><td><a style="color:blue;font-weight:bold"href="#" onclick="openpwork(`'+resps[i]['id']+'`)">'+resps[i]['title']+'</a></td><td>'+status+'</td></tr>')
            }
              })
        var x = setInterval(function (){if (ammstate == false){clearInterval(x)}
        url ='/emun/summonpaperwork/{{munname}}/{{commname}}'
        fetch(url, {
              headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
              },
              }).then(response => {
              return response.json() //Convert response to JSON
              }).then(data => {
              resps = data['resps']
              $('#pworkrows').empty()
              for(let i =0;i<resps.length;i++){
              var status ='';
              if (resps[i]['status']=='OTA'){
                status = 'Open for Ammendments'
              }
              if (resps[i]['status']=='VTC'){
                status = 'Visible'
              }
              $('#pworkrows').append('<tr><td><a style="color:blue;font-weight:bold"href="#" onclick="openpwork(`'+resps[i]['id']+'`)">'+resps[i]['title']+'</a></td><td>'+status+'</td></tr>')
              }
                })
      },500)
    }
    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
    function getmotions(){
      $('#motiondata').empty();
      ammstate = false;
      url='/emun/showallmotions/{{munname}}/{{commname}}'
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
          var motions = data['motions']
          for(let i =0; i<motions.length;i++){
            var id = motions[i]['id']
            var markup = '<tr> <td>'+'<a style="color:blue;font-weight:bold;" data-toggle="modal" data-target="#sendvotemodal"onclick = "summonvote(`'+ motions[i]['id'] +'`)">'+motions[i]['name']+'</a>'+'</td>  <td>'+motions[i]['proposer']+'</td></tr>'
            $('#motiondata').append(markup);

          }
            })
    }
    function summonvote(id){
      url = '/emun/summonvote/{{munname}}/{{commname}}/'+id.toString()+'/'+'{{country}}';
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            console.log(data)
                $('#motname').html(data['motionname']);

                $('#submitvote').attr('onclick', 'submitvote("'+data['id'].toString()+'");');
              if (data['vote'] != 'NA'){
                $('#votecont').empty()
                $('#submitvote').css('display', 'none');
                $('#votecont').append('You have already voted for this Motion. Your vote was:  ' + data['vote'])
              }
              else if (data['vote'] == 'NA'){
                $('#votecont').empty();
                $('#submitvote').css('display', 'block');

                if(data['status']=='PV'){
                  markup = '<p>Important: You can vote only once, so please be completely sure of your vote as you will be unable to change it later</p> <br> <br><label for="voteopt">Vote: </label> <select id="voteopt" ><option value="Yes">YES</option><option value="No">NO</option><select>';
                  $('#votecont').append(markup);
                }
                if(data['status']=='P'){
                  markup = '<p>Important: You can vote only once, so please be completely sure of your vote as you will be unable to change it later</p><label for="voteopt">Vote: </label> <select id="voteopt" ><option value="Yes">YES</option><option value="No">NO</option><option value="Abstain">ABSTAIN</option><select>';
                  $('#votecont').append(markup);
                }
              }

            })
    }
    function submitvote(id){
      url = '/emun/sendvote/{{munname}}/{{commname}}/'+id.toString()+'/'+'{{country}}'+'/'+document.getElementById('voteopt').value.toString();

      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            console.log(data);

            })
    }
    function updateinfo(){
      var currentdate = new Date();
      var expirydate =new Date();
      expirydate.setDate(currentdate.getDate()+7)
      document.cookie ='pwork=' + tinyMCE.activeEditor.getContent().toString() +expirydate.toUTCString() + ';';
      document.cookie ='pworktitle='+document.getElementById('resoname').value.toString()+expirydate.toUTCString()+';';
      let x = document.cookie;
    }
    function openpwork(id){
      $('#docbody').css('display', 'block')
      $('#paperwork').css('display','none');
      $('#voting').css('display','none');
      $('#ammendment').css('display','none');
      $('#ammform').css('display','block');
      url ='/emun/paperworkdata/{{munname}}/{{commname}}/'+id;
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            $('#docbody').empty()
            document.getElementById('poid').value=data['pwork']['id'];
            $('#ammform').css('display', 'block')
            $('#docbody').css('display', 'block')

              $('#docbody').append(data['pwork']['body'])
              if (data['pwork']['status']!='OTA'){
                $('#ammform').css('display', 'none')
              }
              else{
                $('#ammform').css('display', 'block')
              }
            })
    }
    function submitam(){
      var id = document.getElementById('poid').value;
      var type = document.getElementById('amtype').value;
      var cloz = document.getElementById('cloz').value;
      var content = document.getElementById('content').value;
      if (cloz ==''){cloz='none'} else{cloz = '0'+cloz}
      if (content ==''){content='none'}
      url ='/emun/submitam/{{munname}}/{{commname}}/'+id+'/'+type+'/'+cloz+'/'+content;
      fetch(url, {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            },
      }).then(response => {
            return response.json() //Convert response to JSON
          }).then(data => {
            console.log(data);
            alert('Ammendment Submitted successfully')
            openpwork(id)
            })
    }
  </script>
  <style>
    #voting{
        display: none;
        margin : auto;
        padding: 40px;
    }
    #paperwork{
        display: none;
        margin : auto;
        padding: 40px;
    }
    #ammendment{
        display: none;
        margin : auto;
        padding: 40px;
    }
    #docbody{
      display: none
    }
  </style>

</html>
