{% extends 'layout.html' %}
{% load static %}


{%block title%}
{{mun.username}}'s Profile
{%endblock%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <br><br>
      <div class="box">
        <span class="subh">{{mun.username}}'s Profile</span>
        <span class="subh" style="float:right">Name: {{mun.name}}</span><br><br>
        {% if type == "Delegate" %}
            <a href = "{%url 'register' mun.username%}"><button type="button" class="btn button-dark text">{% if isreg == False %}Register{% else %} Unregister {%endif%}</button></a><br>
        {% endif %}
        <img style="float:right;padding-bottom:10px;" width="100" height="100" src = "{% static "prof-pic.png" %}" >
        <p class = "text" style= "font-size:15px">Institution: {% if mun.institution is not None%}{{mun.institution}}{%else%} N/A {%endif %}</p>
        <p class = "text" style= "font-size:15px">Email: {% if mun.email is not None%}{{mun.email}}{%else%} N/A {%endif %}</p>
        <p class = "text" style= "font-size:15px">Number: {% if mun.number is not None%}{{mun.number}}{%else%} N/A {%endif %}</p>
        <p class = "text" style= "font-size:15px">Website/Socials: {% if mun.url != "" %}<a href ="{{mun.url}}" target ="blank"> Here </a>{%else%} N/A {%endif %}</p><br>
        <h4 style='color:#A8B7B9'><weight>Description:</weight></h4>
        <p class = 'text'style= "font-size:15px" >{{mun.description}}</p><br>
        <h3 class = 'subh'><weight>Announcements:</weight></h4><br>
        {% if announcements is not None %}
          {% for row in announcements %}
            <h4 style='color:#A8B7B9; font-size: 16px'><weight>{{row.heading}}</weight></h6>
            <p class = 'text'style= "font-size:15px">{{row.content}}</p><br>
          {%endfor%}
        {% else %}
        <p>No announcements made yet :(</p>
        {% endif %}
        {%if same is True%}
        <br>
        <a href = "{%url 'addannouncements'%}"><button type="button" class="btn button-dark text">Manage Announcements</button></a><br>
        <a class="nav-link" href="{%url 'settings'%}"> <button type="button" class="btn button-dark text">Manage Settings</button><span class="sr-only"></span></a>

        {%endif%}
      </div>
    </div>
  </div>
</div>

{%endblock%}
