{% extends 'layout.html' %}
{% load static %}


{%block title%}
Add a Committee to your E-MUN
{%endblock%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <br><br>
      <div class="box">
        <h2 class="subh">Add Committee!</h2>
        <br><br>
        <div class="alert">

        </div>
        <section class="text" style="font-size:20px">
      <form class="form-action" action="{%  url 'addcommittee' %}" method="post">
        {% csrf_token %}
        <label>Committee Name
        <input list="comms" name="cname"/></label>
        <datalist id="coms">
          <option value="UNSC">
          <option value="DISEC">
          <option value="SPECPOL">
          <option value="ECOFIN">
          <option value="ECOSOC">
          <option value="UNHRC">
          <option value="ICJ">
          <option value="AIPPM">
          <option value="YHC">
          <option value="Advisory Panel (AP)">
          <option value="UNDP">
          <option value="UNEP">
          <option value="GA-6: Legal">
        </datalist>          Content: <input type="text" name="content" id ="content" placeholder="Content" value=""><br><br>
          <button type="Submit" id='bt'name="button" class="btn button-dark text">Submit</button>
      </form>


        </section>
      </div>
    </div>
  </div>
</div>
{%endblock%}
