{% extends 'layout.html' %}
{% load static%}


{%block title%}
Announcements
{%endblock%}
{% block body %}
<div class="container">
  <div class="col-lg">
    <br><br>
    <div class="row">
      <div class="box">
        <h2 class="subh">View Announcements</h2><br><br>
        <!--Put viewing of announcements datewise here-->
        <section class ='text'>
          {% if announcements is not None %}
            {% for row in announcements %}
              <h4 style='color:#A8B7B9'><weight>{{row.heading}}</weight></h6>
              <p>{{row.content}}</p><br>
            {%endfor%}
          {% else %}
          <p>No announcements made yet :(</p>
          {% endif %}
        </section>
        <a href = "{%url 'addannouncements'%}"><button type="button" class="btn button-dark text">Make Announcement</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
