body{
  background-color: #8ABDF2;
}
.navbar{
  padding: 20px; background-color: #294687!important;border-bottom: 10px solid #F39848!important; color:white!important;
}
.col-md{
  background-color: white;
  border: solid #F39848 10px;
  min-height: 600px;
}
.col{
  background-color: white;
  border: solid #F39848 10px;
  min-height: 600px;

}
.col-auto{
  background-color: white;
  border: solid #F39848 10px;
  min-height: 600px;

}
.footer{
  width: 100%;
  height: 185px;
  background-color: #F39848;
  margin-top:20px;
  border-top: solid #294687 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
#dailogo{
  width: 600px;
  height: auto;
  padding: 20px; float:left;
}
