{%extends 'layout.html'%}
{% load static %}
{% block title %}404 Page not Found{% endblock %}
{% block body %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="text">Uh oh! We couldn't find the page you were looking for :(</h1><br>
      <h5 class ="text">{{msg}}</h5><br><br>
      <a href="{%url 'home'%}"><button type="button" class="btn button-dark text">Go back to home</button></a>
      <img src="{% static "homepages/e404.jpg" %}"  class="box"id = "bnnrimg">

    </div>

  </div>
</div>
{% endblock %}
